*{
 margin: 0;
 padding: 0;
 box-sizing: border-box
}
body {
  font-family: "poppins"!important;
}
div .dt {
  background-color: brown;
  padding: 100px;
  height: 100vh;
}

div h1 {
  text-align: center;
  
  /* background-color:rgb(255, 0, 255);
  padding: 20px;
  color: aliceblue;
  margin-top: 15%;
  margin-left: 25%;
  border-radius: 20%;
  width: 50%; */
}
.img {
 flex-direction: column;
}
.img img {
  justify-content: end;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  height: auto;
  width: 300px;
}

.cardbody {
  margin: 20px;
  border: 1px solid black;
 width: 50vh;
}
.cardbody:hover{
  box-shadow: black;
}
.cardbody h2 {
  text-align: center;
}
.cardbody button {
 
  margin: 20px;
 
}
.incredecre{
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;

}
.incredecre h2 {
  margin: 20px  0px; 
  

}
.incredecre button{
  background-color: pink;
  margin: 0px 10px;
}

.zero   {
   height: 100vh;
   width: 100%;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .zero button {
   padding: 12px 20px;
  background-color: blue;
  cursor: pointer;
 }
 .forms {
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: blueviolet;

  align-items: center;
 }
 .forms  input {
   text-align: center;
   margin: 20px 0px;
   font-size: 20px;
 }
 .search  input {
  text-align: center;
  margin: 20px 0px;
  font-size: 20px;
}
 .forms button {
  text-align: center;
  margin-left: 40%;
  font-size: 20px;
  padding: 7px;
  background-color: black;
  color: white;
 }
 .active {
   color: yellow;
 }

 .nav {
   width: 100%;
   background-color: black;
 }
 .nav i {
   text-align: center;
   margin: 20px 18px;
   font-size: 20px;
 }